name: Release

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.14"
      - name: Build package
        run: |
          uv build
      - name: Publish to PyPi
        uses: pypa/gh-action-pypi-publish@release/v1
